
@model PersonalDetail
@{
    ViewData["Title"] = "Personal Detail Thankyou Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="Thankyou">
   <h2>Thanks for submitting your details</h2>

</div>